body {
  text-align: center;
}

#a1 {
    position: relative;
    left;
    font-family: impact;
    height: 25px;

}

#a2 {
  position: relative;
  left;
  font-family: impact;
}

#a3 {
  position: relative;
  left;
  font-family: impact;

}

#userRabbit {
  color: red;
  position: relative;
  left;
  font-family: impact;
}

#a4 {
  position: relative;
  left + 10%;
  font-family: impact;
}

#a5 {
  position: relative;
  left;
  font-family: impact;
}

#a6 {
  position: relative;
  left;
  font-family: impact
}

#a7 {
  position: relative;
  left;
  font-family: impact;
}

#a8 {
  position: relative;
  left;
  font-family: impact:;
}



#racetrack {
  text-align: left;
  border: 2px dashed black;
}


.racetrack {
  margin: 20px;
  text-align: left;
  border: 10px solid black;
  border-color: green;
}

div {
  border: 2px dashed black;
  padding: 2px;
  height: 20px;
}
